@model WebApplication2.Models.UserRegistration

@{
    ViewData["Title"] = "Create";
}

<h1>New Employee Registration Form</h1>
<h4>asp.net Core MVC Application, Without Using Entity Framwork</h4>
<hr />


<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uemail" class="control-label"></label>
                <input asp-for="Uemail" class="form-control" />
                <span asp-validation-for="Uemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pwd" class="control-label"></label>
                <input asp-for="Pwd" class="form-control" />
                <span asp-validation-for="Pwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPwd" class="control-label"></label>
                <input asp-for="ConfirmPwd" class="form-control" />
                <span asp-validation-for="ConfirmPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MartialStatus" class="control-label"></label>

                <select asp-for="MartialStatus">
                    <option selected disabled>-- Select Martial Status</option>
                    <option>Married</option>
                    <option>UnMarried</option>
                    <option>Widow</option>
                </select>

                <span asp-validation-for="MartialStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input type="radio" asp-for="Gender" name="Gender" value="M"/>Male
                <input type="radio" asp-for="Gender" name="Gender" value="F" />Female
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <b>@ViewData["Message"]</b>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Access" asp-action="Login">Click Here to LogIn</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
